.article {
    min-width: 100%;
    min-height: 100%;
}

.article:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.btn-new-article {
    min-width: 100%;
}

img {
    min-width: 100%;
}

.article-title {
    color: #000;
    text-decoration: none;
}

.badge {
    text-decoration: none;
}